body {
  background-color: rgb(233, 223, 255);
  color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
h1 {
  color: rgb(83, 49, 156);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 900px;
  width: 100%;
  position: relative;
  border-radius: 12px;
}
.tabs {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: rgb(200, 175, 255);
  margin-bottom: 32px;
  position: relative;
}

.tabs p {
  padding: 16px;
  font-weight: bold;
}
.tabs p:hover {
  color: rgb(83, 49, 156);
  cursor: pointer;
}
.tabs p.active {
  color: rgb(83, 49, 156);
  position: relative;
}
.line {
  width: 100%;
  height: 4px;
  background-color: rgb(231, 231, 231);
  position: absolute;
  top: 80px;
}
.tabs .active::before {
  content: "";
  width: 200%;
  height: 3px;
  background-color: rgb(83, 49, 156);
  position: absolute;
  left: -50%;
  top: 65px;
  z-index: 2;
  border-radius: 10px;
}

/* toggle bar */

.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}
.toggle-wrapper img {
  width: 40px;
  height: 40px;
  margin: 0 2px;
}
.toggle {
  display: flex;
  background-color: rgb(83, 49, 156);
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 32px;
  padding: 4px 6px 4px 16px;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 30px;
}
.toggle span:first-of-type {
  color: #fff;
}
.toggle span:last-of-type {
  color: rgb(83, 49, 156);
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 20px;
  width: 30%;
  align-items: center;
  text-align: center;
}

/* sessions container */

.sessions {
  background-color: rgb(250, 247, 255);
  width: 50%;
  text-align: center;
  padding: 32px;
  border-radius: 20px;
  margin: 32px 0;
  text-transform: uppercase;

  font-weight: bold;
}

.sessions p:first-of-type {
  margin: 0;
  color: rgb(83, 49, 156);
}

.sessions p:last-of-type {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 62px;
  color: rgb(83, 49, 156);
}
.description {
  padding: 0 32px;
  line-height: 36px;
  font-size: 18px;
  margin: 16px 0 32px 0;
}

/* scroll effect */

.scroller {
  width: 80%;
  margin: 32px 0 16px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-bar {
  width: 100%;
  background-color: rgb(250, 247, 255);
  height: 12px;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
}
.scroll {
  width: 31%;
  background-color: rgb(83, 49, 156);
  height: 12px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.point {
  height: 24px;
  width: 24px;
  background-color: rgb(44, 44, 44);
  position: absolute;
  left: 200px;
  border-radius: 50%;
  top: -6px;
  border: 2px solid white;
  transition: 0.5s transform ease;
}
.point:hover {
  transform: scale(1.2);
}
.scroll-progress {
  width: 80%;
}
.scroll-progress ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.scroll-progress ul li {
  font-weight: 600;
  color: rgb(44, 44, 44);
}

/* card design */
.card-wrapper {
  display: flex;

  padding: 0 16px;
}
.card {
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(250, 247, 255);
  text-align: center;
  padding: 16px 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: rgb(83, 49, 156);
  font-weight: bold;
}
.card hr {
  width: 40%;
  border: 1px solid white;
}
.card:first-of-type {
  margin-right: 32px;
}
.button {
  background-color: rgb(83, 49, 156);
  color: #fff;
  padding: 12px 20px;
  border-radius: 12px;
  transition: 0.5s transform ease-in;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.price {
  font-size: 42px;
  margin: 0;
}
.card p {
  margin: 12px;
}

/* responsive */

@media only screen and (max-width: 750px) {
  .card {
    width: 90%;
    margin: 16px 0;
  }
  .cardss {
    margin: 16px 0;
    justify-content: center;
    align-items: center;
  }
  .card-wrapper {
    flex-wrap: wrap;
    width: 80%;
  }
  .sessions {
    width: 75%;
  }
  h1 {
    margin-top: 12px;
  }
}
