:root {
  --text-light: #fff;
  --text-dark: #000;
  --body-font: "Roboto", sans-serif;
  --text-grey: #adbdcc;
  --heading-font: "Anek Telugu", sans-serif;

  /* color sizes */
  --h1-size: 64px;
  --h2-size: 50px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;

  /* margins */
  --marg-sm: 8px;
  --marg--med: 16px;
  --marg-large: 32px;
  --marg-xl: 64px;

  /* colors */
  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --accent-color: #0a2540;
  --blue-1: #00d4ff;
  --bg-white: #fff;
  --bg-light: #f7f9fc;

  /* button */
  --button-hover-color: #6d7a88;
  --primary-accent: #0a2540;

  /* section */

  .section-container {
    width: 100%;
    max-width: 1140px;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--bg-white);
  padding: var(--marg--med) 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--text-grey);
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: var(--h1-size);
  width: 100%;
  margin: 0;
}
h2 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h2-size);
  width: 100%;
  margin: 0;
  line-height: -0.75px;
}
h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h3-size);
  width: 100%;
  margin: 0;
  line-height: -0.5px;
}
h4 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: var(--h4-size);
  width: 100%;
  margin: 0;
  line-height: -0.25px;
}
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h5-size);
  width: 100%;
  margin: 0;
  /* line-height: 1px; */
}
h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: var(--h6-size);
  width: 100%;
  margin: 0;
  /* line-height: 1.5px; */
}
a {
  text-decoration: none;
  font-weight: 500;
  color: var(--purple-1);
  transition: color 0.5s ease-in;
}
a:hover {
  color: var(--accent-color);
}
p {
  font-size: 18px;
  line-height: 26px;
  font-family: var(--heading-font);
  font-weight: 500;
  color: var(--text-grey);
}
.subtitle {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}
.subtitle2 {
  color: var(--blue-1);
}
.secondary-text {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-grey);
}
.primary-button {
  color: var(--text-light);
  background-color: var(--primary-accent);
  border: none;
  border-radius: 20px;
  padding: var(--marg-sm) var(--marg--med);
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.2s ease;
}
.primary-button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.secondary-button {
  color: var(--primary-accent);
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: var(--marg-sm) var(--marg--med);
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.2s ease;
}
.hero-section .button-div-hero .secondary-button-img {
  color: var(--purple-2);
}
.secondary-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.with-icon img {
  transition: transform 0.25s ease;
}

.with-icon:hover > img {
  transform: translateX(3px);
}

/* navbar */

navbar {
  display: flex;
  margin: 0 var(--marg--med);
  width: 100%;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-grey);
}

.nav-list {
  display: flex;
  list-style: none;
}
.nav-list a {
  color: var(--bg-white);
  cursor: pointer;
}
.nav-list a:hover {
  border-bottom: 1px solid white;
}
.nav-list a:last-child {
  margin-right: 2rem;
}
.nav-btn:hover {
  background-color: var(--purple-2);
}

/* section 2 column */
.section-width-permanent {
  width: 100%;
  max-width: 1140px;
  padding: var(--marg--med) var(--marg-large);
}
.two-column {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.two-column > .column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  padding-right: var(--marg--med);
}

.two-column > .column-left {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 50%;
  padding-left: var(--marg--med);
  flex-direction: column;
}

/* hero section */

.hero-section {
  margin: var(--marg-xl) 0 var(--marg-large) 0;
}

.hero-section h1 {
  color: var(--text-dark);
  line-height: 80px;
}
.button-div-hero {
  display: flex;
}
.button-div-hero button:nth-of-type(2) {
  margin-left: var(--marg--med);
  color: var(--purple-2);
}
.button-div-hero .secondary-button-img {
  color: var(--purple-2);
}
.hero-section .hero-phone-container {
  height: 564px;
  align-items: flex-end;
}
.hero-img {
  height: 600px;
  transform: translate(60px, -64px);
}

.section-width {
  width: 100%;
  max-width: 1140px;
}
.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: var(--marg--med) 0;
  column-gap: var(--marg-xl);
  row-gap: var(--marg-large);
}
.partners-grid img {
  height: 60px;
  place-self: centre;
}

/* section unified platform */
.unified-platform-section {
  padding: var(--marg-xl) 0;
}
.unified-platform-section h3 {
  width: 50%;
}
.unified-platform-section .primary-button:hover {
  background-color: var(--purple-2);
}

/* section graphics */

.graphics-grid {
  display: grid;
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dash dash";
  grid-gap: var(--marg-large);
  border-radius: 0 2px 40px rgba(0, 0, 0, 0.15);
  padding: var(--marg-large);
}
#credit-card {
  grid-area: card;
  width: 100%;
}
#slack {
  grid-area: slack;
  width: 100%;
}
#phone {
  grid-area: phone;
  width: 100%;
}
#dash {
  grid-area: dash;
  width: 100%;
}

/* section card */

.card {
  padding: var(--marg-large) 0 0 var(--marg-sm);
}
.card-section {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: self-start;
}
.card .icon {
  height: 50px;
}
.section-new {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* integration Section */

.integration-section {
  background-color: var(--accent-color);
  color: var(--text-light);
}
.integration-section .primary-button {
  background-color: var(--blue-1);
  color: var(--accent-color);
}

.int-grid-style {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 1rem;
}
.int-grid-in-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: var(--marg-xl);
}

#api-code,
#terminal-code {
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}
.integration-section .secondary-button {
  color: var(--blue-1);
}
.integration-section .primary-button:hover {
  background-color: var(--bg-light);
}

/* why-swipe-section */
.why-swipe-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr 1fr;
  column-gap: 1rem;
}
.why-swipe-section .why-swipe-grid p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.new-section {
  background-color: var(--accent-color);
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* global section */

.global-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.card-section-global {
  display: flex;
  margin: var(--marg-xl) 0;
}
.section-global {
  background-color: var(--accent-color);
  color: var(--bg-light);
}
.section-global p {
  color: var(--button-hover-color);
}
.section-global h3 {
  font-weight: 500;
  color: var(--bg-light);
}
.section-global .subtitle {
  color: var(--blue-1);
}
.section-global h5 {
  color: var(--blue-1);
  border-left: 3px solid var(--blue-1);
  padding-left: var(--marg-sm);
  line-height: 28px;
}
